<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JgMaschineTcpIpTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <JgMaschineTcpIpTest.Properties.Settings>
            <setting name="ClientAdresseServer" serializeAs="String">
                <value>&gt; Adresse &lt; </value>
            </setting>
            <setting name="ClientPortServer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClientSendeText1" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientAnzeigeZeichen" serializeAs="String">
                <value>String</value>
            </setting>
            <setting name="ClientSendeText2" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientSendeText3" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ServerSendeText" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerAnzeigeZeichen" serializeAs="String">
                <value />
            </setting>
        </JgMaschineTcpIpTest.Properties.Settings>
    </userSettings>
</configuration>
