<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
 
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JgMaschineGlobalZeit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  
  <connectionStrings>
    <add name="JgModelContainer" connectionString="metadata=res://*/JgModel.csdl|res://*/JgModel.ssdl|res://*/JgModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SqlExpress;initial catalog=JgMaschine;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="JgMaschineGlobalZeit.Properties.Settings.VerbindungsString"
      connectionString="Data Source=.\SqlExpress;Initial Catalog=JgMaschine;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
  <userSettings>
    <JgMaschineGlobalZeit.Properties.Settings>
      <setting name="NameXmlDatei" serializeAs="String">
        <value />
      </setting>
      <setting name="FensterEinstellung" serializeAs="String">
        <value />
      </setting>
      <setting name="FormatXmlAusgabeDezimal" serializeAs="String">
        <value>N2</value>
      </setting>
      <setting name="FormatXmlAusgabeZeit" serializeAs="String">
        <value>{0}:{1}:{2}</value>
      </setting>
    </JgMaschineGlobalZeit.Properties.Settings>
  </userSettings>
</configuration>
