<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
 
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JgGlobalZeit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="JgMaschineVerwalten.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JgGlobalZeit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="JgMaschineVerwalten.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  
  <connectionStrings>
    <add name="JgModelContainer" connectionString="metadata=res://*/JgModel.csdl|res://*/JgModel.ssdl|res://*/JgModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SqlExpress;initial catalog=JgMaschine;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="JgMaschineVerwalten.Properties.Settings.VerbindungsString"
      connectionString="Data Source=.\SqlExpress;Initial Catalog=JgMaschine;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="JgGlobalZeit.Properties.Settings.VerbindungsString"
      connectionString="Data Source=.\SqlExpress;Initial Catalog=JgMaschine;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
  <userSettings>
    <JgGlobalZeit.Properties.Settings>
      <setting name="IdStandort" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="NameXmlDatei" serializeAs="String">
        <value />
      </setting>
      <setting name="WinTop" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="WinLeft" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="WinWidth" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="WinHeight" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="WinState" serializeAs="String">
        <value>Normal</value>
      </setting>
    </JgGlobalZeit.Properties.Settings>
    <JgMaschineVerwalten.Properties.Settings>
      <setting name="IdStandort" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
    </JgMaschineVerwalten.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <JgGlobalZeit.Properties.Settings>
      <setting name="JgCubeVerbindungsString" serializeAs="String">
        <value>Provider=SQLNCLI11.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=JgMaschine;Data Source=.\SqlExpress</value>
      </setting>
      <setting name="JgCubeSqlText" serializeAs="String">
        <value>DECLARE @IdBauteil uniqueidentifier, @DatumVon dateTime, @DatumBis datetime 
-- set @IdBauteil = 
Set @DatumVon = '01.01.2016'
Set @DatumBis = '01.12.2016'

IF OBJECT_ID('tempdb..#temp') IS NOT NULL
  DROP TABLE #temp

SELECT maschine.MaschinenName, (bediener.NachName + ', ' + bediener.VorName) as Bediener,
  Cast(bauteil.DatumStart as date) as Datum,
  SUM(bauteil.BtGewicht / bauteil.AnzahlBediener) as SumGewicht,
  SUM(DATEDIFF(Second, bauteil.DatumStart, bauteil.DatumEnde) / 3600.00) AS SumZeitBauteil,

  ISNULL((SELECT SUM(DateDiff(Second, anmeldung.Anmeldung, anmeldung.Abmeldung) / 3600.00)
    FROM tabAnmeldungMaschineSet AS anmeldung
    WHERE (anmeldung.fBediener = bediener.Id) AND (anmeldung.fMaschine = maschine.Id)
      AND (CAST(anmeldung.Anmeldung as Date) =  Cast(bauteil.DatumStart as Date))), 0) as AnmeldungZeit,

  ISNULL((SELECT SUM(DateDiff(Second, anmeldung.Anmeldung, anmeldung.Abmeldung) / 3600.00)
    FROM tabAnmeldungReparaturSet AS anmeldung INNER JOIN
      tabReparaturSet AS reparatur ON anmeldung.fReparatur = reparatur.Id
    WHERE (anmeldung.fBediener = bediener.Id) AND (reparatur.fMaschine = maschine.Id)
      AND (CAST(anmeldung.Anmeldung as Date) = Cast(bauteil.DatumStart as Date))), 0) as ReparaturZeit

INTO #temp

FROM tabBauteilSet AS bauteil INNER JOIN
  tabMaschineSet AS maschine ON bauteil.fMaschine = maschine.Id INNER JOIN
  tabBauteiltabBediener AS bauteilBediener ON bauteil.Id = bauteilBediener.sBauteile_Id INNER JOIN
  tabBedienerSet AS bediener ON bauteilBediener.sBediener_Id = bediener.Id

WHERE 
	(CAST(bauteil.DatumStart AS DATE) &gt;= @DatumVon) AND (CAST(bauteil.DatumStart as Date) &lt;= @DatumBis) 

Group By maschine.MaschinenName, maschine.Id, (bediener.NachName + ', ' + bediener.VorName), bediener.Id, Cast(bauteil.DatumStart as date)

-------------------------------------------------------------------------------------------------------------------------------------------

SELECT *, (AnmeldungZeit - ReparaturZeit) as AktivZeit, (SumGewicht /  IIF((AnmeldungZeit - ReparaturZeit) = 0, 1, AnmeldungZeit - ReparaturZeit)) as GewichtStunde 
FROM #temp</value>
      </setting>
    </JgGlobalZeit.Properties.Settings>
    <JgMaschineVerwalten.Properties.Settings>
      <setting name="JgCubeVerbindungsString" serializeAs="String">
        <value>Provider=SQLNCLI11.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=JgMaschine;Data Source=.\SqlExpress</value>
      </setting>
      <setting name="JgCubeSqlText" serializeAs="String">
        <value>DECLARE @IdBauteil uniqueidentifier, @DatumVon dateTime, @DatumBis datetime 
-- set @IdBauteil = 
Set @DatumVon = '01.01.2016'
Set @DatumBis = '01.12.2016'

IF OBJECT_ID('tempdb..#temp') IS NOT NULL
  DROP TABLE #temp

SELECT maschine.MaschinenName, (bediener.NachName + ', ' + bediener.VorName) as Bediener,
  Cast(bauteil.DatumStart as date) as Datum,
  SUM(bauteil.BtGewicht / bauteil.AnzahlBediener) as SumGewicht,
  SUM(DATEDIFF(Second, bauteil.DatumStart, bauteil.DatumEnde) / 3600.00) AS SumZeitBauteil,

  ISNULL((SELECT SUM(DateDiff(Second, anmeldung.Anmeldung, anmeldung.Abmeldung) / 3600.00)
    FROM tabAnmeldungMaschineSet AS anmeldung
    WHERE (anmeldung.fBediener = bediener.Id) AND (anmeldung.fMaschine = maschine.Id)
      AND (CAST(anmeldung.Anmeldung as Date) =  Cast(bauteil.DatumStart as Date))), 0) as AnmeldungZeit,

  ISNULL((SELECT SUM(DateDiff(Second, anmeldung.Anmeldung, anmeldung.Abmeldung) / 3600.00)
    FROM tabAnmeldungReparaturSet AS anmeldung INNER JOIN
      tabReparaturSet AS reparatur ON anmeldung.fReparatur = reparatur.Id
    WHERE (anmeldung.fBediener = bediener.Id) AND (reparatur.fMaschine = maschine.Id)
      AND (CAST(anmeldung.Anmeldung as Date) = Cast(bauteil.DatumStart as Date))), 0) as ReparaturZeit

INTO #temp

FROM tabBauteilSet AS bauteil INNER JOIN
  tabMaschineSet AS maschine ON bauteil.fMaschine = maschine.Id INNER JOIN
  tabBauteiltabBediener AS bauteilBediener ON bauteil.Id = bauteilBediener.sBauteile_Id INNER JOIN
  tabBedienerSet AS bediener ON bauteilBediener.sBediener_Id = bediener.Id

WHERE 
	(CAST(bauteil.DatumStart AS DATE) &gt;= @DatumVon) AND (CAST(bauteil.DatumStart as Date) &lt;= @DatumBis) 

Group By maschine.MaschinenName, maschine.Id, (bediener.NachName + ', ' + bediener.VorName), bediener.Id, Cast(bauteil.DatumStart as date)

-------------------------------------------------------------------------------------------------------------------------------------------

SELECT *, (AnmeldungZeit - ReparaturZeit) as AktivZeit, (SumGewicht /  IIF((AnmeldungZeit - ReparaturZeit) = 0, 1, AnmeldungZeit - ReparaturZeit)) as GewichtStunde 
FROM #temp</value>
      </setting>
    </JgMaschineVerwalten.Properties.Settings>
  </applicationSettings>
</configuration>
