<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JgMaschineService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <JgMaschineService.Properties.Settings>
            <setting name="CradleIpAdresse" serializeAs="String">
                <value>192.168.16.1</value>
            </setting>
            <setting name="CradlePortNummer" serializeAs="String">
                <value>5200</value>
            </setting>
            <setting name="CradleTextAnmeldung" serializeAs="String">
                <value />
            </setting>
            <setting name="DbVerbindungsString" serializeAs="String">
                <value />
            </setting>
            <setting name="EvgPfadProduktionsListe" serializeAs="String">
                <value />
            </setting>
            <setting name="EvgDateiProduktionsAuftrag" serializeAs="String">
                <value />
            </setting>
            <setting name="ProgressPfadProduktionsListe" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailAbsender" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailListeEmpfanger" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailServerAdresse" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailPortNummer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EmailBenutzerName" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailBenutzerKennwort" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailBetreff" serializeAs="String">
                <value>Meldung von JgMaschineService</value>
            </setting>
        </JgMaschineService.Properties.Settings>
    </applicationSettings>
</configuration>
