<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JgMaschineTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JgMaschineTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="JgModelContainer" connectionString="metadata=res://*/JgModel.csdl|res://*/JgModel.ssdl|res://*/JgModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SqlExpress;initial catalog=JgMaschine;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="JgMaschineTest.Properties.Settings.Verbindungszeichen"
      connectionString="Data Source=.\SqlExpress;Initial Catalog=JgMaschine;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="JgMaschineTest.Properties.Settings.VerbindungClient"
      connectionString="Data Source=.\SqlExpress;Initial Catalog=JgMaschine;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="JgMaschineTest.Properties.Settings.VerbindungServer"
      connectionString="Data Source=.\SqlExpress;Initial Catalog=JgMaschineServer;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
  <applicationSettings>
    <JgMaschineTest.Properties.Settings>
      <setting name="ScannerAdresse" serializeAs="String">
        <value>192.168.1.221</value>
      </setting>
      <setting name="ScannerPort" serializeAs="String">
        <value>51000</value>
      </setting>
    </JgMaschineTest.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <JgMaschineTest.Properties.Settings>
      <setting name="MaschinenAdresse" serializeAs="String">
        <value>gullus-server</value>
      </setting>
      <setting name="MaschinenPfad" serializeAs="String">
        <value>c\Progress\Pro2\impdata</value>
      </setting>
      <setting name="BenutzerName" serializeAs="String">
        <value>jg</value>
      </setting>
      <setting name="BenutzerKennwort" serializeAs="String">
        <value>pezdx65</value>
      </setting>
    </JgMaschineTest.Properties.Settings>
  </userSettings>
</configuration>
