<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JgMaschineServiceScanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="JgMaschineService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JgMaschineServiceScanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="JgMaschineService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
                                                                                                                      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <exceptionHandling>
    <exceptionPolicies>
      <add name="Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="Fehler" eventId="100" severity="Error" title="Exeption Arbeitszeit Scanner" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="JgMessageQueuing" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.MsmqTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.MsmqTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" queuePath=".\Private$\JgMaschine" formatter="TextKurz" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp}{tab}{message}" name="TextKurz" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="JgMessageQueuing" />
        </listeners>
      </add>
      <add switchValue="All" name="Fehler">
        <listeners>
          <add name="JgMessageQueuing" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="JgMessageQueuing" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="JgMessageQueuing" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="JgMessageQueuing" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <add name="JgModelContainer" connectionString="metadata=res://*/JgModel.csdl|res://*/JgModel.ssdl|res://*/JgModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SqlExpress;initial catalog=JgMaschine;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JgMaschineServiceScanner.Properties.Settings.DatenbankVerbindungsString" connectionString="Data Source=.\SqlExpress;Initial Catalog=JgMaschine;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <applicationSettings>
    <JgMaschineServiceScanner.Properties.Settings>
      <setting name="CradleIpAdresse" serializeAs="String">
        <value>192.168.1.59</value>
      </setting>
      <setting name="CradlePortNummer" serializeAs="String">
        <value>51000</value>
      </setting>
      <setting name="EvgPfadProduktionsListe" serializeAs="String">
        <value>C:\EVG\EINGABE\PROD\</value>
      </setting>
      <setting name="EvgDateiProduktionsAuftrag" serializeAs="String">
        <value>C:\EVG\EINGABE\HOST\PB.H_M</value>
      </setting>
      <setting name="ProgressPfadProduktionsListe" serializeAs="String">
        <value>c\Progress\Pro2\impdata</value>
      </setting>
      <setting name="EmailAbsender" serializeAs="String">
        <value>JgSupport@gullus.de</value>
      </setting>
      <setting name="EmailListeEmpfaenger" serializeAs="String">
        <value>joerggullus@gmail.com</value>
      </setting>
      <setting name="EmailServerAdresse" serializeAs="String">
        <value>smtp.1und1.de</value>
      </setting>
      <setting name="EmailServerPortNummer" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="EmailServerBenutzerName" serializeAs="String">
        <value>fehlermeldung@jgdata.de</value>
      </setting>
      <setting name="EmailServerBenutzerKennwort" serializeAs="String">
        <value>fehler123</value>
      </setting>
      <setting name="EmailBetreff" serializeAs="String">
        <value>Information aus JgMaschineService</value>
      </setting>
    </JgMaschineServiceScanner.Properties.Settings>
    <JgMaschineService.Properties.Settings>
      <setting name="CradleIpAdresse" serializeAs="String">
        <value>192.168.1.22</value>
      </setting>
      <setting name="CradlePortNummer" serializeAs="String">
        <value>51000</value>
      </setting>
      <setting name="CradleTextAnmeldung" serializeAs="String">
        <value>welcome</value>
      </setting>
      <setting name="DatenbankVerbindungsString" serializeAs="String">
        <value />
      </setting>
      <setting name="EvgPfadProduktionsListe" serializeAs="String">
        <value>C:\EVG\EINGABE\PROD\</value>
      </setting>
      <setting name="EvgDateiProduktionsAuftrag" serializeAs="String">
        <value>C:\EVG\EINGABE\HOST\PB.H_M</value>
      </setting>
      <setting name="ProgressPfadProduktionsListe" serializeAs="String">
        <value>c\Progress\Pro2\impdata</value>
      </setting>
      <setting name="EmailAbsender" serializeAs="String">
        <value>JgSupport@gullus.de</value>
      </setting>
      <setting name="EmailListeEmpfaenger" serializeAs="String">
        <value>joerggullus@gmail.com</value>
      </setting>
      <setting name="EmailServerAdresse" serializeAs="String">
        <value>smtp.1und1.de</value>
      </setting>
      <setting name="EmailServerPortNummer" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="EmailServerBenutzerName" serializeAs="String">
        <value>fehlermeldung@jgdata.de</value>
      </setting>
      <setting name="EmailServerBenutzerKennwort" serializeAs="String">
        <value>fehler123</value>
      </setting>
      <setting name="EmailBetreff" serializeAs="String">
        <value>Information aus JgMaschineService</value>
      </setting>
    </JgMaschineService.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <JgMaschineServiceScanner.Properties.Settings>
      <setting name="Standort" serializeAs="String">
        <value>Heidenau</value>
      </setting>
      <setting name="CradleTextAnmeldung" serializeAs="String">
        <value>Welcome</value>
      </setting>
    </JgMaschineServiceScanner.Properties.Settings>
    <JgMaschineService.Properties.Settings>
      <setting name="Standort" serializeAs="String">
        <value>Heidenau</value>
      </setting>
    </JgMaschineService.Properties.Settings>
  </userSettings>
</configuration>
