<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JgMaschineService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JgMaschineService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
                                                                                                                      </configSections>

  <connectionStrings>
    <add name="JgModelContainer" connectionString="metadata=res://*/JgModel.csdl|res://*/JgModel.ssdl|res://*/JgModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SqlExpress;initial catalog=JgMaschine;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <applicationSettings>
    <JgMaschineService.Properties.Settings>
      <setting name="CradleIpAdresse" serializeAs="String">
        <value>192.168.1.22</value>
      </setting>
      <setting name="CradlePortNummer" serializeAs="String">
        <value>51000</value>
      </setting>
      <setting name="CradleTextAnmeldung" serializeAs="String">
        <value>welcome</value>
      </setting>
      <setting name="DatenbankVerbindungsString" serializeAs="String">
        <value />
      </setting>
      <setting name="EvgPfadProduktionsListe" serializeAs="String">
        <value>C:\EVG\EINGABE\PROD\</value>
      </setting>
      <setting name="EvgDateiProduktionsAuftrag" serializeAs="String">
        <value>C:\EVG\EINGABE\HOST\PB.H_M</value>
      </setting>
      <setting name="ProgressPfadProduktionsListe" serializeAs="String">
        <value>c\Progress\Pro2\impdata</value>
      </setting>
      <setting name="EmailAbsender" serializeAs="String">
        <value>JgSupport@gullus.de</value>
      </setting>
      <setting name="EmailListeEmpfaenger" serializeAs="String">
        <value>joerggullus@gmail.com</value>
      </setting>
      <setting name="EmailServerAdresse" serializeAs="String">
        <value>smtp.1und1.de</value>
      </setting>
      <setting name="EmailServerPortNummer" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="EmailServerBenutzerName" serializeAs="String">
        <value>fehlermeldung@jgdata.de</value>
      </setting>
      <setting name="EmailServerBenutzerKennwort" serializeAs="String">
        <value>fehler123</value>
      </setting>
      <setting name="EmailBetreff" serializeAs="String">
        <value>Information aus JgMaschineService</value>
      </setting>
    </JgMaschineService.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <JgMaschineService.Properties.Settings>
      <setting name="Standort" serializeAs="String">
        <value>Heidenau</value>
      </setting>
    </JgMaschineService.Properties.Settings>
  </userSettings>
</configuration>
