<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JgMaschineDbMerge.Properties.Settings.SqlConnectionClient"
            connectionString="Data Source=.\SqlExpress;Initial Catalog=JgMaschine;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="JgMaschineDbMerge.Properties.Settings.SqlConnectionServer"
            connectionString="Data Source=.\SqlExpress;Initial Catalog=JgMaschineServer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>