<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JgMaschineServiceAbreitszeit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
                                                                                                                      </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <connectionStrings>
    <add name="JgModelContainer" connectionString="metadata=res://*/JgModel.csdl|res://*/JgModel.ssdl|res://*/JgModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SqlExpress;initial catalog=JgMaschine;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <applicationSettings>
    <JgMaschineServiceAbreitszeit.Properties.Settings>
      <setting name="Standort" serializeAs="String">
        <value>Heidenau</value>
      </setting>
      <setting name="PfadUpdateBediener" serializeAs="String">
        <value>C:\Users\jg\Desktop\Test</value>
      </setting>
      <setting name="DatenbankVerbindungsstring" serializeAs="String">
        <value />
      </setting>
      <setting name="AusleseIntervall" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="Terminal_IpNummer" serializeAs="String">
        <value>192.168.1.57</value>
      </setting>
      <setting name="Terminal_PortNummer" serializeAs="String">
        <value>8000</value>
      </setting>
      <setting name="Terminal_TimeOut" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="EmailAbsender" serializeAs="String">
        <value>JgSupport@gullus.de</value>
      </setting>
      <setting name="EamilAdressenEmpfaenger" serializeAs="String">
        <value>joerggullus@gmail.com</value>
      </setting>
      <setting name="Betreff" serializeAs="String">
        <value>Fehlermeldung Arbeitszeit</value>
      </setting>
      <setting name="ServerAdresse" serializeAs="String">
        <value>smtp.1und1.de</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="ServerBenutzername" serializeAs="String">
        <value>fehlermeldung@jgdata.de</value>
      </setting>
      <setting name="ServerPasswort" serializeAs="String">
        <value>fehler123</value>
      </setting>
    </JgMaschineServiceAbreitszeit.Properties.Settings>
  </applicationSettings>
</configuration>
